@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Exo 2', sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
	background-image: url('./assets/images/pattern.png');
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 5e-5) 49.88%,
		rgba(0, 0, 0, 0.5) 100%
	);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
